.sec{
    margin-top: 80px;
    position: relative;
}
.line{
    position: absolute;
    top: -50px;
}
.h1{
    color: #333461;
    font-weight: 700;
}
.p{
    color: #4A556C;
    font-size: 17.5px;
    width: 85%;
}
.row{
    margin-top: 50px;
}
.img{
    margin-bottom: 30px;
}
.h3{
    color: rgba(4, 20, 52, 1);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}
.p2{
    color: rgba(74, 85, 108, 1);
    font-size: 17px;
    width: 90%;
}