.sec{
    margin-top: 80px;
}
.p{
    color: rgba(74, 85, 108, 0.5);
    font-size: 18px;
}
.h1{
    color: #333461;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}
.p2{
    color: rgba(74, 85, 108, 0.7);
    font-size: 18px;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}
.img{
    margin-bottom: 20px;
}
.h3{
    color: #333461;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px
}
.pcard{
    color: #667085;
    font-size: 15.5px;
    margin-bottom: 50px;
}